//<Адаптив>===========================================================================================================================================
@media (max-width: 1700px) {
	.header__container {
    max-width: inherit;
    padding: 0 10px;
    margin-right: 0;}
}

@media (max-width: 1450px) {
	.container {
		padding: 0 10px;}
}

@media (max-width: 1300px) {
	.header__nav-block {
  	justify-content: flex-end;}
  .header__menu {
    margin-right: 25px;}
  .header__btn {
    margin-right: 20px;}
}

@media (max-width: 1200px) {
	.menu__list li::after {
    margin: 0 15px;}
	.header__btn {
		min-width: 160px;
    font-size: 18px;}
}

@media (max-width: 1100px) {
	.menu a {
    font-size: 14px;}
  .menu__list li::after {
    margin: 0 10px;}
}

@media (max-width: 1024px) {
	.header__menu {
    margin-right: 20px;}
	.header__btn {
    min-width: 140px;
    font-size: 16px;
    min-height: 35px;}
}

@media (max-width: 960px) {
	.menu__list {
    justify-content: flex-end;}
  .menu__list li {
    margin-left: 15px;}
    .menu__list li:first-child {
    margin-left: 0;}
  .menu__list li::after {
    display: none;}
}

@media (max-width: 768px) {
	.header {
		padding: 5px 0;
		box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
	}
	.logo-icon {
    flex: 0 0 90px;
    height: 35px;}
  .logo-icon:before {
    background-size: 100%;}
	.icon-menu {
		display: block;
		flex: 0 0 20px;
    height: 14px;}
	.menu__body {
		display: none;}
	.icon-menu span {
    top: 6px;}
  .icon-menu.active span:first-child {
    top: 7px;}
  .icon-menu.active span:last-child {
    bottom: 5px;}
	.header__btn {
    min-width: 120px;
    font-size: 14px;
    min-height: 30px;
    padding: 3px;}
	.header__lang-switch {
		flex: 0 0 50px;
    margin-right: 25px;}
  .header__lang-switch button {
    font-size: 14px;
    line-height: 1;}
}

@media (max-width: 700px) {
	.mob-menu {
		width: 100%;
		right: -100%;
		-webkit-transition: right 0.8s;
		-o-transition: right 0.8s;
		transition: right 0.8s; }
	}

@media (max-width: 515px) {
	.header__callback {
    display: none; }
	.mob-callback__phone {
    display: flex; 
		margin-right: 25px;
	}
}

@media (max-width: 414px) {
	.logo-icon {
    flex: 0 0 80px;
    height: 30px;}
  .header__btn {
    margin-right: 15px;}
  .header__lang-switch {
    margin-right: 15px;}
  .header__btn {
   min-width: 100px;
   font-size: 12px;
   min-height: 20px;
   padding: 0;}
}

@media (max-width: 340px) {

}